.pagination {
  position: absolute;
  top: $navigation-height;
  left: 50%;
  transform: translateX(-50%);
  font-size: ms(-1);
  // line-height: ms-line-height(-1);
  color: $bg-color-2;
  cursor: default;
}
