#loading-screen {
  display: none;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  color: $bg-color;
  text-transform: lowercase;
  z-index: 9999999;

  will-change: opacity;
  opacity: 0;
  transition: opacity 0.62s 0.62s $timing-in;

  background-color: $text-color;

  .loading & {
    pointer-events: initial;
    opacity: 1;
  }

  svg {
    width: $base-unit * 3;
    height: $base-unit * 3;
    fill: currentColor;
  }

  h1 {
    font-size: ms(2);
    line-height: ms-line-height(0);
    margin-bottom: $base-unit * 2;
  }
}

.loading-screen-content {
  text-align: center;
  opacity: 0;
  will-change: opacity, transform;
  transform: scale3d(1.2, 1.2, 1.2);
  transition: opacity 0.38s 0.38s $timing-in, transform 0.38s 0.38s $timing-in;

  .loading & {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

// .cviceni {
//   will-change: transform;
//   transform: scale3d(1, 1, 1);
//   transition: transform 1.38s $timing-out;

//   .loading & {
//     transform: scale3d(.7, .7, .7);
//   }
// }
